/* Set home bg */

ion-view[state="home"] {
    background-image: none !important;
    background-color: #fff !important;
}

.always .layout.l1 .tabs {
    box-shadow: none !important;
    border: 0 !important;
}


/* CUSTOM P[AGE START HERE */


/* Remove card shadow and margin */

ion-view.module-cms.cms-l1 .card {
    margin: 0 !important;
    box-shadow: none !important;
    padding: 0 !important;
    border: 0 !important;
}


/* remove item padding and set background color */

ion-view.module-cms.cms-l1 .card .item.item-text-wrap.item-custom.sb-cms-text {
    padding: 0 !important;
    background-color: transparent !important;
    border: 0 !important;
}


/* set color of card title  */

ion-view.module-cms.cms-l1 div[ng-repeat="block in blocks"] .card .content.ng-binding a {
    color: transparent !important;
}


/* 1TH BLOCK START */

ion-view.module-cms.cms-l1 .card.no-shadow .item.item-custom {
    padding: 0;
    background-color: transparent !important;
    border: 0 !important;
}

ion-view.module-cms.cms-l1 iframe.sb-cms-source {
    height: 15vh !important;
}


/* 1TH BLOCK END */


/* 2ND BLOCK START */


/* ion-view.module-cms.cms-l1 div[ng-repeat="block in blocks"]:nth-child(4) .card {
    margin: 0 !important;
    box-shadow: none !important;
}

ion-view.module-cms.cms-l1 div[ng-repeat="block in blocks"]:nth-child(4) .card .item.item-text-wrap.item-custom.sb-cms-text {
    padding: 0 !important;
    background-color: #ecf0f6 !important;
    border: 0 !important;
} */

ion-view.module-cms.cms-l1 div[ng-repeat="block in blocks"]:nth-child(4) .card .content.ng-binding p:nth-child(1) {
    width: 55%;
    display: inline-flex;
    background-color: #ecf0f6;
    height: 100px;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 10%), 0px 1px 3px 0px rgba(0, 0, 0, 8%);
    border-radius: 10px;
    margin: 10px 2%;
    background-image: url(https://plagtibmobile.files.wordpress.com/2017/11/cdzxjjgumaauycj.jpg?w=512);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

ion-view.module-cms.cms-l1 div[ng-repeat="block in blocks"]:nth-child(4) .card .content.ng-binding p:nth-child(2) {
    width: 36%;
    display: inline-flex;
    background-color: #ecf0f6;
    height: 100px;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 10%), 0px 1px 3px 0px rgba(0, 0, 0, 8%);
    border-radius: 10px;
    margin: 10px 2%;
    background-image: url(https://plagtibmobile.files.wordpress.com/2021/03/test2.png?resize=100%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

ion-view.module-cms.cms-l1 div[ng-repeat="block in blocks"]:nth-child(4) .card .content.ng-binding p:nth-child(3) {
    width: 36%;
    display: inline-flex;
    background-color: #ecf0f6;
    height: 100px;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 10%), 0px 1px 3px 0px rgba(0, 0, 0, 8%);
    border-radius: 10px;
    margin: 10px 2%;
    background-image: url(https://plagtibmobile.files.wordpress.com/2021/03/test1.png?resize=100%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

ion-view.module-cms.cms-l1 div[ng-repeat="block in blocks"]:nth-child(4) .card .content.ng-binding p:nth-child(4) {
    width: 55%;
    display: inline-flex;
    background-color: #ecf0f6;
    height: 100px;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 10%), 0px 1px 3px 0px rgba(0, 0, 0, 8%);
    border-radius: 10px;
    margin: 10px 2%;
    background-image: url(https://plagtibmobile.files.wordpress.com/2021/03/test3.png?resize=100%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

ion-view.module-cms.cms-l1 div[ng-repeat="block in blocks"]:nth-child(4) .card .content.ng-binding p:nth-child(5) {
    width: 96%;
    display: inline-flex;
    background-color: #ecf0f6;
    height: 100px;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 10%), 0px 1px 3px 0px rgba(0, 0, 0, 8%);
    border-radius: 10px;
    margin: 10px 2%;
    background-image: url(https://plagtibmobile.files.wordpress.com/2021/03/test4.png?);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* Set bg color in 2nd block */

ion-view.module-cms.cms-l1 div[ng-repeat="block in blocks"]:nth-child(4) .card .content.ng-binding {
    display: block;
    background-color: #ffffff;
    border-radius: 10px !important;
}


/* 2ND BLOCK END */


/* 3TH BLOCK START */

ion-view.module-cms.cms-l1 div[ng-repeat="block in blocks"]:nth-child(5) .card .content.ng-binding {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 10px 10px 10px;
}

ion-view.module-cms.cms-l1 div[ng-repeat="block in blocks"]:nth-child(5) .card .content.ng-binding p a {
    color: #387ef5 !important;
}

ion-view.module-cms.cms-l1 div[ng-repeat="block in blocks"]:nth-child(5) .card .content.ng-binding h2 strong {
    color: #000;
}


/* 3TH BLOCK END */


/* 4TH BLOCK START */


/* Horizontal card */

ion-view.module-cms.cms-l1 div[ng-repeat="block in blocks"]:nth-child(6) .card .content.ng-binding {
    padding: 0;
    display: flex;
    margin-bottom: 20px;
    overflow: visible;
    white-space: nowrap !important;
    width: 100% !important;
    overflow-x: auto !important;
    overflow-y: hidden !important;
    white-space: nowrap !important;
    -webkit-overflow-scrolling: touch !important;
}


/* first card */

ion-view.module-cms.cms-l1 div[ng-repeat="block in blocks"]:nth-child(6) .card .content.ng-binding p:nth-child(1) {
    width: 100% !important;
    min-width: 35% !important;
    display: inline-flex !important;
    height: 60px;
    margin: 0 2%;
    background-color: #ecf0f6 !important;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    background-image: url(https://plagtibmobile.files.wordpress.com/2021/03/test3.png?resize=100%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* second card */

ion-view.module-cms.cms-l1 div[ng-repeat="block in blocks"]:nth-child(6) .card .content.ng-binding p:nth-child(2) {
    width: 100% !important;
    min-width: 35% !important;
    display: inline-flex !important;
    height: 60px;
    margin: 0 2%;
    background-color: #ecf0f6 !important;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    background-image: url(https://plagtibmobile.files.wordpress.com/2021/03/test3.png?resize=100%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* thirt card */

ion-view.module-cms.cms-l1 div[ng-repeat="block in blocks"]:nth-child(6) .card .content.ng-binding p:nth-child(3) {
    width: 100% !important;
    min-width: 35% !important;
    display: inline-flex !important;
    height: 60px;
    margin: 0 2%;
    background-color: #ecf0f6 !important;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    background-image: url(https://plagtibmobile.files.wordpress.com/2021/03/test3.png?resize=100%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* fourt card */

ion-view.module-cms.cms-l1 div[ng-repeat="block in blocks"]:nth-child(6) .card .content.ng-binding p:nth-child(4) {
    width: 100% !important;
    min-width: 35% !important;
    display: inline-flex !important;
    height: 60px;
    margin: 0 2%;
    background-color: #ecf0f6 !important;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    background-image: url(https://plagtibmobile.files.wordpress.com/2021/03/test3.png?resize=100%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* fifth card */

ion-view.module-cms.cms-l1 div[ng-repeat="block in blocks"]:nth-child(6) .card .content.ng-binding p:nth-child(5) {
    width: 100% !important;
    min-width: 35% !important;
    display: inline-flex !important;
    height: 60px;
    margin: 0 2%;
    background-color: #ecf0f6 !important;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    background-image: url(https://plagtibmobile.files.wordpress.com/2021/03/test3.png?resize=100%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* sixth card */

ion-view.module-cms.cms-l1 div[ng-repeat="block in blocks"]:nth-child(6) .card .content.ng-binding p:nth-child(6) {
    width: 100% !important;
    min-width: 35% !important;
    display: inline-flex !important;
    height: 60px;
    margin: 0 2%;
    background-color: #ecf0f6 !important;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    background-image: url(https://plagtibmobile.files.wordpress.com/2021/03/test3.png?resize=100%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* eight card */

ion-view.module-cms.cms-l1 div[ng-repeat="block in blocks"]:nth-child(6) .card .content.ng-binding p:nth-child(7) {
    width: 100% !important;
    min-width: 35% !important;
    display: inline-flex !important;
    height: 60px;
    margin: 0 2%;
    background-color: #ecf0f6 !important;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    background-image: url(https://plagtibmobile.files.wordpress.com/2021/03/test3.png?resize=100%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* ninenth card */

ion-view.module-cms.cms-l1 div[ng-repeat="block in blocks"]:nth-child(6) .card .content.ng-binding p:nth-child(8) {
    width: 100% !important;
    min-width: 35% !important;
    display: inline-flex !important;
    height: 60px;
    margin: 0 2%;
    background-color: #ecf0f6 !important;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    background-image: url(https://plagtibmobile.files.wordpress.com/2021/03/test3.png?resize=100%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* 4TH BLOCK START */


/* 5TH BLOCK START */

ion-view.module-cms.cms-l1 div[ng-repeat="block in blocks"]:nth-child(7) .card .content.ng-binding {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 10px 10px 10px;
}

ion-view.module-cms.cms-l1 div[ng-repeat="block in blocks"]:nth-child(7) .card .content.ng-binding p a {
    color: #387ef5 !important;
}

ion-view.module-cms.cms-l1 div[ng-repeat="block in blocks"]:nth-child(7) .card .content.ng-binding h2 strong {
    color: #000;
}


/* 5TH BLOCK END */


/* 6TH BLOCK START */


/* vertical card */

ion-view.module-cms.cms-l1 div[ng-repeat="block in blocks"]:nth-child(8) .card .content.ng-binding {
    padding: 0;
    display: flex;
    margin-bottom: 20px;
    width: 98% !important;
    overflow-x: hidden !important;
    overflow-y: scroll !important;
    white-space: nowrap !important;
    -webkit-overflow-scrolling: touch !important;
    height: 90px !important;
    flex-direction: column;
    align-items: center;
    margin: 0 1% 5px 1%;
}


/* 1th card */

ion-view.module-cms.cms-l1 div[ng-repeat="block in blocks"]:nth-child(8) .card .content.ng-binding p:nth-child(1) {
    width: 98% !important;
    min-width: 98% !important;
    display: flex !important;
    flex-direction: column;
    height: 80px;
    margin: 7px 2%;
    background-color: #ecf0f6 !important;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    min-height: 80px;
    background-image: url(https://plagtibmobile.files.wordpress.com/2021/03/test4.png?);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* 2nd card */

ion-view.module-cms.cms-l1 div[ng-repeat="block in blocks"]:nth-child(8) .card .content.ng-binding p:nth-child(2) {
    width: 98% !important;
    min-width: 98% !important;
    display: flex !important;
    flex-direction: column;
    height: 80px;
    margin: 7px 2%;
    background-color: #ecf0f6 !important;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    min-height: 80px;
    background-image: url(https://plagtibmobile.files.wordpress.com/2021/03/test4.png?);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* 3th card */

ion-view.module-cms.cms-l1 div[ng-repeat="block in blocks"]:nth-child(8) .card .content.ng-binding p:nth-child(3) {
    width: 98% !important;
    min-width: 98% !important;
    display: flex !important;
    flex-direction: column;
    height: 80px;
    margin: 7px 2%;
    background-color: #ecf0f6 !important;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    min-height: 80px;
    background-image: url(https://plagtibmobile.files.wordpress.com/2021/03/test4.png?);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* 4th card */

ion-view.module-cms.cms-l1 div[ng-repeat="block in blocks"]:nth-child(8) .card .content.ng-binding p:nth-child(4) {
    width: 98% !important;
    min-width: 98% !important;
    display: flex !important;
    flex-direction: column;
    height: 80px;
    margin: 7px 2%;
    background-color: #ecf0f6 !important;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    min-height: 80px;
    background-image: url(https://plagtibmobile.files.wordpress.com/2021/03/test4.png?);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* 5th card */

ion-view.module-cms.cms-l1 div[ng-repeat="block in blocks"]:nth-child(8) .card .content.ng-binding p:nth-child(5) {
    width: 98% !important;
    min-width: 98% !important;
    display: flex !important;
    flex-direction: column;
    height: 80px;
    margin: 7px 2%;
    background-color: #ecf0f6 !important;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    min-height: 80px;
    background-image: url(https://plagtibmobile.files.wordpress.com/2021/03/test4.png?);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* 6th card */

ion-view.module-cms.cms-l1 div[ng-repeat="block in blocks"]:nth-child(8) .card .content.ng-binding p:nth-child(6) {
    width: 98% !important;
    min-width: 98% !important;
    display: flex !important;
    flex-direction: column;
    height: 80px;
    margin: 7px 2%;
    background-color: #ecf0f6 !important;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    min-height: 80px;
    background-image: url(https://plagtibmobile.files.wordpress.com/2021/03/test4.png?);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* 7th card */

ion-view.module-cms.cms-l1 div[ng-repeat="block in blocks"]:nth-child(8) .card .content.ng-binding p:nth-child(7) {
    width: 98% !important;
    min-width: 98% !important;
    display: flex !important;
    flex-direction: column;
    height: 80px;
    margin: 7px 2%;
    background-color: #ecf0f6 !important;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    min-height: 80px;
    background-image: url(https://plagtibmobile.files.wordpress.com/2021/03/test4.png?);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* 8th card */

ion-view.module-cms.cms-l1 div[ng-repeat="block in blocks"]:nth-child(8) .card .content.ng-binding p:nth-child(8) {
    width: 98% !important;
    min-width: 98% !important;
    display: flex !important;
    flex-direction: column;
    height: 80px;
    margin: 7px 2%;
    background-color: #ecf0f6 !important;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    min-height: 80px;
    background-image: url(https://plagtibmobile.files.wordpress.com/2021/03/test4.png?);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* 6TH BLOCK START */