/*Form*/
ion-view[state="form2-home"] .card {
  box-shadow: none;
  filter: drop-shadow(2px 3px 4px #ddd);
  border-radius: 5px;
}

.module-form2 img.form2-illustration {
  height: 160px;
}

ion-view[state="form2-home"] * {
  font-size: 12px !important;
  letter-spacing: 0.7px !important;
}

ion-view[state="form2-home"] label {
  height: 50px;
}

ion-view[state="form2-home"] label>div.input-label.ng-binding {
  display: none;
}

ion-view[state="form2-home"] label>input {
  text-align: left;
  border-bottom: 1px #ccc dashed;
  margin-right: 12px;
}

ion-view[state="form2-home"] ion-item.item-divider.item-divider-custom.form2-divider.item {
  text-align: center;
}

ion-view[state="form2-home"] div.scroll>div:nth-child(2)>div.padding:after {
  content: "";
  width: 100%;
  height: 100px;
  background-color: transparent;
  position: relative;
  display: block;
}

ion-view[state="form2-home"] .list:last-child.card {
  margin-bottom: 20px !important;
}

ion-view[state="form2-home"] div.padding>button[type="submit"] {
  background-color: maroon;
  border-radius: 5px;
}

ion-view[state="form2-home"] ion-content div.scroll div div ng-include>div>div:nth-child(1) {
  margin: 0px;
}

ion-view[state="form2-home"] ion-item.item-divider.item-divider-custom.form2-divider.item {
  text-align: center;
  border-radius: 12px 12px 0px 0px;
}

ion-view[state="form2-home"] ion-content div.scroll div div ng-include>div>div:nth-child(2) {
  top: -8vh;
}

ion-view[state="form2-home"] ion-content div.scroll div div ng-include>div>div:nth-child(3) {
  top: -8vh;
}

ion-view[state="form2-home"] ion-content div.scroll div div ng-include>div>div:nth-child(4) {
  top: -8vh;
}

ion-view[state="form2-home"] ion-content div.scroll div div ng-include div:nth-child(2)>div:nth-child(3)>label {
  padding-bottom: 15px;
  border-radius: 0px 0px 12px 12px;
}

ion-view[state="form2-home"] ion-content div.scroll div div ng-include div:nth-child(3)>div:nth-child(2)>label {
  padding-bottom: 15px;
  border-radius: 0px 0px 12px 12px;
}

ion-view[state="form2-home"] ion-content div.scroll div div ng-include>div>div:nth-child(5) {
  top: -8vh;
}

ion-view[state="form2-home"] div.padding>button[type="submit"] {
  background-color: #109c62;
  border-radius: 10px;
  top: -8vh;
}



.module-form2 img.form2-illustration {
  width: 100%;
  height: auto;
  display: block;
}

.module-form2 .remove-image-list,
.module-form2 .remove-image-card {
  position: absolute;
  right: 6px;
  top: 6px;
}

.module-form2 .remove-image-list i.icon,
.module-form2 .remove-image-card i.icon {
  font-size: 26px;
}

.module-form2 .form2-richtext * {
  white-space: normal;
}

.module-form2 img.form2-pictures {
  max-height: 15vh;
  width: auto;
  max-width: 90%;
  margin: 6px auto;
}

.module-form2 .form2-radio .radio-title {
  padding: 5px 15px;
  font-weight: bold;
}

.module-form2 .form2-radio .radio-item .radio-content .item-content {
  padding: 10px 15px;
  font-size: 13px;
}

.module-form2 .form2-radio .radio-item .radio-content .radio-icon {
  padding: 2px 15px;
}

.module-form2 .form2-image .upload-title {
  padding: 5px 15px;
  font-weight: bold;
}

.module-form2 .form2-image .upload-action {
  padding: 10px 15px 10px 54px;
}

.module-form2 .form2-datetime,
.module-form2 .form2-date {
  padding: 2px 0 2px 54px;
}

.module-form2 .form2-datetime input[type="text"],
.module-form2 .form2-date input[type="text"] {
  width: 100%;
}

.module-form2 .list .form2-radio label .radio-content {
  border-left: 2px solid rgba(68, 68, 68, 1);
}

.module-form2 .card .form2-radio label .radio-content {
  border-left: 2px solid rgba(68, 68, 68, 1);
}
